a:link, a:active, a:visited {
	text-decoration: none;
	color: black;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.on {
	background-color: #444;
}

body {
	background-color: #f0f0f0 ;
	color: black;
}

li {
	width: 20px;
	height: 20px;
	margin: 1px;
	float: left;
    background-color: yellow;
}

.letter {
	float: left;
	font-weight: bold;
	font-size: 38pt;
}

.link {
	float: left;
	font-size: 30pt;
	font-weight: bold;
}

.sans {
	font-family: 'Helvetica', 'Arial', 'Deja Vu Sans', sans-serif;
}

ul {
	list-style-type: none;
	width: 220px;
	padding: 2px;
}

.container {
    width: 570px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#name {
    width: 220px; 
    margin-right: 100px;
    display: inline-block;
}

.grid-container {
    display: inline-block; 
    margin-bottom: 20px;
}

.standalone {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 75px;
}
